*.csv
*.pkl
.ipynb_checkpoints/
*.venv
.idea/
venv/
*.html
mlruns/
catboost_info/
mlflow/
__pycache__/
*.pyc
services/grafana/csv/
services/grafana/pdf/
services/grafana/plugins/
services/grafana/png/