services:
  ml_service:
    build:
      context: ./ml_service
      dockerfile: Dockerfile
    container_name: heart_ml_service_container
    ports:
      - "8001:8000"          # снаружи 8001, внутри сервиса 8000
    volumes:
      - ./models:/models    # модель доступна как /models/model.pkl
    restart: unless-stopped

  requests_service:
    build:
      context: ./requests
      dockerfile: Dockerfile
    container_name: requests_service_container
    depends_on:
      - ml_service           # ждать, пока поднимется сервис предсказаний
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus_container
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    depends_on:
      - ml_service

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_container
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana:/var/lib/grafana
    depends_on:
      - prometheus